<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <link rel="stylesheet" href="/mapApi/esri/css/main.css">
  <link rel="stylesheet" href="css/zTreeStyle.css">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <style>
    .close {
     position: fixed;
     top: 0;
     right: 0;
    width: 71px;
     height: 58px;
     cursor: pointer;
      z-index: 0;
     background: url("/pic/close.png");
    }
    .close:hover {
      background: url("/pic/close-hover.png");
    }
  </style>
  <script src="js/editorEngine.js"></script>
  <script src="js/jsencrypt.js"></script>
</head>

<body>
<div class="close" id="close"></div>
  <div id="root"></div>
</body>
</html>
